.main-form {
  margin: 2rem auto;
  padding: 1rem;
  width: 50%;
  background-color: #eee;
  box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  font-size: 18px;
  font-weight: 700;
  color: #262641;
}

.form-section {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-section input {
  margin-top: 8px;
  color: rgb(58, 57, 57);
  border: 1px #ccc solid;
  font-size: 18px;
  height: 1.7rem;
}
