.error-message {
  width: 54%;
  margin: 0 23%;
  overflow: hidden;
  border-radius: 1rem;
  position: absolute;
}

.header-message {
  padding: 1rem;
  font-size: 30px;
  font-weight: 700;
  color: #eee;
  background-color: #513f88;
}

.message-context {
  padding: 1rem;
  font-size: 18px;
  color: #262641;
  background-color: #eee;
}

.error-btn {
  margin-top: 4rem;
  display: flex;
  justify-content: flex-end;
}

.error-btn button {
  padding: 5px 1rem;
  border: none;
  font-size: 18px;
  color: #eee;
  background-color: #513f88;
}

.error-btn button:hover {
  background-color: #2f2f69;
  transition: background-color 0.3s;
}
